button {
  padding: 15px;
  background-color: lightskyblue;
  color: white;
  font-size: 14px;
}

hr {
  border-width: 1px;
}


.hidden {
  display: none;
}

.eachSnip {
  display: block;
}

.selectedForDeletion {
  color: lightskyblue;
}

.header {
  font-family: 'American Typewriter';
  text-align: center;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}

button {
  margin-top: 13px;
}