button {
  padding: 15px;
  background-color: lightskyblue;
  color: white;
  font-size: 14px;
}

hr {
  border-width: 1px;
}

/*.overwrite
{
  display: none;
}

.doNotOverwrite {
  display: none;
}
*/
.hidden {
  display: none;
}