button {
  padding: 15px;
  background-color: lightskyblue;
  color: white;
  font-size: 14px;
  margin-top: 13px;
}

hr {
  border-width: 1px;
}


.hidden {
  display: none;
}

.eachSnip {
  display: inline;
  margin-right: 30px;
}

.selectedForDeletion {
  color: lightskyblue;
}

.copySnippet {
  position: relative;
}

.header {
  text-align: center;
}

* {
  font-family: 'Quicksand';
}

.textArea {
  rows: 10;
  cols: 50;
}

.header {
  margin-top: 50px;
}

div {
  background-color: rgba(255, 255, 255, 0.3)
}

body {
  background: url(https://openclipart.org/image/2400px/svg_to_png/179319/Lined_Paper.png) no-repeat;
  background-size: cover;
} 
